package page

import (
    "github.com/codeluft/kuchy/internal/view/layout"
    "github.com/codeluft/kuchy/internal/app/translator"
)

// StockContents is the contents of the stock page.
templ StockContents(t translator.Func) {
    <h2>{ t("ui.stock.page.title") }</h2>
}

// Stock is the stock page.
templ Stock(t translator.Func) {
    @layout.Base(t) {
        @StockContents(t)
    }
}
