package pages

import (
    T "github.com/codeluft/kuchy/templates"
)

// HomeContents is the contents of the home page
templ HomeContents() {
    <h1>Home</h1>
}

// Home is the home page
templ Home() {
    @T.Base() {
        @HomeContents()
    }
}
