package pages

import (
    . "github.com/codeluft/kuchy/templates"
    "github.com/codeluft/kuchy/translations"
)

// HomeContents is the home page contents
templ HomeContents(t translations.TranslatorFunc) {
    <h2>{ t("ui.home.page.title", "Homes") }</h2>
}

// Home is the home page
templ Home(t translations.TranslatorFunc) {
    @Base() {
        @HomeContents(t)
    }
}
