package pages

import (
    . "github.com/codeluft/kuchy/templates"
    "github.com/codeluft/kuchy/translations"
)

templ RecipesContents(t translations.TranslatorFunc) {
    <div>
        <h2>{ t("ui.recipe.page.title", "Recipes") }</h2>
    </div>
}

templ Recipes(t translations.TranslatorFunc) {
    @Base(t) {
        @RecipesContents(t)
    }
}
