package pages

import (
    . "github.com/codeluft/kuchy/templates"
)

// StockContents is the contents of the stock page
templ StockContents() {
    <h2>Stock</h2>
}

// Stock is the stock page
templ Stock() {
    @Base() {
        @StockContents()
    }
}
