body {
    margin: 0px;
    padding: 0px;
}
header.bg-header {
    color: white;
    padding: 10px;
    background: rgb(80,57,156);
    background: linear-gradient(160deg, rgba(80,57,156,1) 30%, rgba(149,54,123,1) 100%);
    border-bottom: solid 2px #203070;
    box-shadow: #6f42c1 0px 0px 10px 0px;
}
